<CascadingAuthenticationState>
<div class="top-row pl-4 navbar navbar-dark navbar-toggler-layout">
    @*<a class="navbar-brand" href="">BM.RIS</a>*@
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass MainMenu" @onclick="ToggleNavMenu">
    <AuthorizeView>
        <Authorized>
            <ul class="nav flex-column">
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span>
                    </NavLink>
                    <div class="FlySubMenu">
                        <a  href="/" >Accueil</a>
                    </div>
                </li>

                 <li class="nav-item px-3">
                    <NavLink class="nav-link" href="Roles" Match="NavLinkMatch.All">
                        <span class="oi oi-clipboard" aria-hidden="true"></span>
                    </NavLink>
                    <div class="FlySubMenu">
                        <a  href="Roles" >Roles</a>
                    </div>
                </li>

                 <li class="nav-item px-3">
                    <NavLink class="nav-link" href="Users" Match="NavLinkMatch.All">
                        <span class="oi oi-clipboard" aria-hidden="true"></span>
                    </NavLink>
                    <div class="FlySubMenu">
                        <a  href="Users" >Utilisateurs</a>
                    </div>
                </li>

                 <li class="nav-item px-3">
                    <NavLink class="nav-link" href="Folders" Match="NavLinkMatch.All">
                        <span class="oi oi-clipboard" aria-hidden="true"></span>
                    </NavLink>
                    <div class="FlySubMenu">
                        <a  href="Folders" >Dossiers</a>
                    </div>
                </li>

                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="Entries" Match="NavLinkMatch.All">
                        <span class="oi oi-clipboard" aria-hidden="true"></span>
                    </NavLink>
                    <div class="FlySubMenu">
                        <a  href="Entries" >Entrées</a>
                    </div>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="Rapports" Match="NavLinkMatch.All">
                        <span class="oi oi-clipboard" aria-hidden="true"></span>
                    </NavLink>
                    <div class="FlySubMenu">
                        <a  href="Rapports" >Rapports</a>
                    </div>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="clients" Match="NavLinkMatch.All">
                        <span class="oi oi-clipboard" aria-hidden="true"></span>
                    </NavLink>
                    <div class="FlySubMenu">
                        <a  href="clients" >Clients</a>
                    </div>
                </li>


            </ul>
        </Authorized>
    </AuthorizeView>
</div>
</CascadingAuthenticationState>
<style>
    .FlySubMenu {
        display: none;
    }

        .FlySubMenu a {
            color: #2f97c1 !important;
            height: 40px !important;
            background: transparent !important;
        }

    .nav-item:hover .FlySubMenu {
        display: block;
        position: absolute;
       /* bottom: -35px;*/
        left: 50px;
        background: #24b0df !important;
        z-index: 9999;
        width: 200px;
        /* height: 40px;*/
        line-height: 40px;
        padding-left: 15px;
        /* vertical-align: middle;
        border-left: 2px solid #ffffff;*/
        border: 1.2px solid #00000047;
        min-width: 130px;
        -webkit-box-shadow: 1px 1px 4px 0 rgba(0,0,0,.5);
        -moz-box-shadow: 1px 1px 4px 0 rgba(0,0,0,.5);
        box-shadow: 1px 1px 4px 0 rgba(0,0,0,.5);
        border-left: 3px solid #319ffee3;
        top:50%;
        transform:translateY(-50%);
    }

       
        .SideBarMenuLayout {
        width: 50px !important;
        z-index: 9;
    }

        .SideBarMenuLayout li.nav-item {
            width: 50px !important;
            padding: 0 !important;
            position: relative;
        }

    .navbar-toggler-layout .navbar-toggler {
        display: none;
    }

    .navbar-toggler-layout {
        height: 30px;
    }

    .sidebar .top-row {
        background-color: transparent;
    }

    .sidebar .nav-item a {
        color: #fff !important;
        cursor: pointer;
    }
    .sidebar .nav-item:first-child a.active, .sidebar .nav-item:first-child a:hover {
        background-color: #2F97C1;
        color: #fff !important;
        border-radius: 0;
        border: 0 !important;
    }
    .display.False {
        display: none !important;
    }
</style>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
